@use 'variables';
@use 'mixins/text';
@use "sass:color";

.card {
    margin: 5px;
    &__btn{
        
    width: 100%;
    margin-top: 5px;
    border: none;
    background-color: variables.$primary;
    padding:5px;
        background-color: color.adjust(variables.$primary, $lightness: 15%); 
        color: color.complement(variables.$primary);
        @include text.small-cap;
    }
    &__btn:hover{
        background-color: variables.$primary;
    
        background-color: color.adjust(variables.$primary, $lightness: 25%); 
      }
}
